<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Menu - Cuptain's Brew</title>
    <link rel="stylesheet" href="../../css/menu.css">
    
    <link rel="stylesheet" href="../../css/orders.css">

</head>
<body>
    <header class="header">
        <img src="../../images/LOGO.png" id="logo" alt="cuptainsbrewlogo">
        <nav class="button-container" id="nav-menu">
            <a href="../../views/admin/admin-menu.html" class="nav-button">Menu</a>
            <a href="../../views/admin/admin-orders.html" class="nav-button">Orders</a>
            <a href="../../views/admin/admin-reports.html" class="nav-button">Reports</a>
            <a href="../../views/admin/admin-accounts.html" class="nav-button">Accounts</a>
            <a id="logout-button" class="nav-button">Logout</a>
        </nav>
    </header>
    <div class="container">
        <!-- Sidebar Navigation -->
        <nav class="sidebar">
            <ul>
                <li><a href="#" onclick="showOrders('all')" class="menu-bar" >All Orders</a></li>
                <li><a href="#" onclick="showOrders('pending')" class="menu-bar" >Pending Orders</a></li>
                <li><a href="#" onclick="showOrders('delivered')" class="menu-bar" >Delivered Orders</a></li>
            </ul>
        </nav>

        <!-- Main Content -->
        <main class="content">
            <div class="item-container">

            <table>
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Item Name</th>
                        <th>Order Date</th>
                        <th>Order Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="reports-table">
                    <!-- Orders will be inserted here dynamically -->
                </tbody>
            </table>
            </div>
            
        </main>
    </div>
    
    <script src="../../js/admin-menu.js"></script>
    <script src="../../js/script.js"></script>
    <script src="../../js/auth.js"></script>
    <script src="../../js/admin-orders.js"></script>
</body>
</html>
