<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Menu - Cuptain's Brew</title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/accounts.css">
</head>
<body>
    <header class="header">
        <img src="/images/LOGO.png" id="logo" alt="cuptainsbrewlogo">
        <nav class="button-container" id="nav-menu">
            <a href="/views/admin/admin-menu.html" class="nav-button">Menu</a>
            <a href="/views/admin/admin-orders.html" class="nav-button">Orders</a>
            <a href="/views/admin/admin-reports.html" class="nav-button">Reports</a>
            <a href="/views/admin/admin-accounts.html" class="nav-button">Accounts</a>
            <a href="#" id="logout-button" class="nav-button">Logout</a>
        </nav>
    </header>

    <div class="admin-container">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Number</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="user-table">
                <!-- Users will be dynamically added here -->
            </tbody>
        </table>
    </div>


    <script src="/js/auth.js"></script>
    <script src="/js/admin-menu.js"></script>  <!-- New script for loading menu items -->
</body>
</html>
