<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cuptain's Brew</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header class="header">
    <img src="/images/LOGO.png" id="logo" alt="cuptainsbrewlogo">

    <!-- "nav-menu" is for mobile
    <button id="menu-toggle" class="menu-toggle"> ☰  </button> -->

    <nav class="button-container" id="nav-menu">

        <a href="/views/home.html" class="nav-button" class="nav-button" > Home</a>
        <a href="/views/menu.html" class="nav-button" class="nav-button" > Menu</a>
        <a href="/views/career.html" class="nav-button" class="nav-button" > Career</a>
        <a href="/views/aboutus.html" class="nav-button" class="nav-button" > About Us</a>

       
        <div class="icon-container">
            <a href="/views/users/cart.html" id="cart-icon" class="nav-icon hidden">
                <img src="/images/cart-icon.png" alt="Cart">
            </a>
            <a href="/views/users/profile.html" id="profile-icon" class="nav-icon hidden">
                <img src="/images/profile-icon.png" alt="Profile" >
            </a>
        </div>
        
    </nav>
</header>

    <div class="image-container">
        <img src="/images/careerbg.png" alt="getstarted" id="getstarted" style="width: 100vw;">
    </div>
    <div class="centered-home" style="bottom: 35vw;">
        <h1 class="glow">CAREERS</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
            porttitor dolor nec, maximus justo. </p>
    
    
    
    
    </div>
    

    <div class="form-container">
        <form id="jobForm">
            <label>First Name*</label>
            <input type="text" id="firstName" required>
            
            <label>Last Name*</label>
            <input type="text" id="lastName" required>
            
            <label>Mobile Number*</label>
            <input type="text" id="mobileNumber" required>
            
            <label>E-Mail Address*</label>
            <input type="email" id="email" required>
            
            <label>Position Applying For*</label>
            <input type="text" id="position" required>
            
            <label>Resume / CV*</label>
            <input type="file" id="resume" accept=".pdf,.doc,.docx" required>
            
            <div class="checkbox-container">
                <input type="checkbox" id="terms" required>
                <label for="terms">I agree to the Terms and Conditions</label>
            </div>
            
            <div class="submit-container">
                <button id="submitBtn">Submit</button>
            </div>
            
        </form>
    </div>

    <button id="back-to-top" ><img src="/images/top-icon.png" alt="Go to Top"></button>




     
<footer>
    <div class="footer-container" style="display: flex;">
       
        <div class="footer-left" >
            <div class="footer-links" style="display: flex; flex-direction: column;">
                <ul>
                    <li><a href="/views/home.html">Home</a></li>
                    <li><a href="/views/aboutus.html">About Us</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <a href="#"><img src="/images/facebook.png" style="width: 2vw;" alt="facebook"><i class="fab fa-facebook"></i> </a>
                <a href="#"><img src="/images/twitter.png" style="width: 2vw;" alt="twitter" alt=""><i class="fab fa-twitter"></i></a>
                <a href="#"><img src="/images/instagram.png" style="width: 2vw;" alt="instagram"><i class="fab fa-instagram"></i></a>
            </div>
            
        </div>
        
        <div class="footer-right" style="display: flex;">
            <div class="footer-contact">
                <h3>CONTACT US</h3>
                <p>123 Coffee Street, City Name</p>
                <p><strong>Phone:</strong> +1 800 555 6789</p>
                <p><strong>E-mail:</strong> support@cuptainsbrew.com</p>
                <p><strong>Website:</strong> www.cuptainsbrew.com</p>
            </div>
                
        </div>


   </div>

   <div class="footer-bottom">
    <p>© Copyright 2025 Cuptain’s Brew Cafe. All Rights Reserved.</p>
</div>


</footer>

    <script src="/js/auth.js"></script>
    <script src="/js/script.js"></script>
</body>


</html>
