<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cuptain's Brew</title>
    <link rel="stylesheet" href="/css/style.css">



</head>
<body>
    <header class="header">
    <img src="/images/LOGO.png" id="logo" alt="cuptainsbrewlogo">

    <!-- "nav-menu" is for mobile
    <button id="menu-toggle" class="menu-toggle"> ☰  </button> -->

    <nav class="button-container" id="nav-menu">

        <a href="/views/home.html" class="nav-button" > Home</a>
        <a href="/views/menu.html" class="nav-button"  > Menu</a>
        <a href="/views/career.html" class="nav-button"  > Career</a>
        <a href="/views/aboutus.html" class="nav-button" > About Us</a>


        <div class="icon-container">
            <a href="/views/users/cart.html" id="cart-icon" class="nav-icon hidden">
                <img src="/images/cart-icon.png" alt="Cart">
            </a>
            <a href="/views/users/profile.html" id="profile-icon" class="nav-icon hidden">
                <img src="/images/profile-icon.png" alt="Profile" >
            </a>
        </div>
    </nav>

    
</header>

    <div class="image-container">
        <img src="/images/getstarted.png" alt="getstarted" id="getstarted">
    </div>
    <div class="centered-home">
        <h1 class="glow">Captain's Brew Cafe</h1>
        <p>Where every sip is an adventure. we've got your brew covered. <br>
            Drop anchor, relax, and let your coffee journey begin! </p>
    
    
    <a href="/views/auth/login.html" class="centered-button" id="view-menu-button">Get Started</a>
    
    
    
    </div>
    
    <div class="menu-image-container">
        
            <div class="centered-menu">
                <h1>MENU</h1>
                <p>Where every sip is an adventure. we've got your brew covered. <br>
                    Drop anchor, relax, and let your coffee journey begin! </p>
                </div>       
    
        </div>
        

     <div class="carousel-container" style="background-color: antiquewhite;">

        
        
        <h1 style="color: white;">   ═══════════════════════════════════════════════════════════════════════════════════════════</h1>
        <div class="carousel-track">
            <div class="carousel-item"><img src="/images/carousel-img/img-1.png" alt="Slide 1"></div>
            <div class="carousel-item"><img src="/images/carousel-img/img-2.png" alt="Slide 2"></div>
            <div class="carousel-item"><img src="/images/carousel-img/img-3.png" alt="Slide 3"></div>
            <div class="carousel-item"><img src="/images/carousel-img/img-4.png" alt="Slide 4"></div>
         
        </div>
        <h1 style="color: white;">    ═══════════════════════════════════════════════════════════════════════════════════════════</h1>
    </div>
    
    <button id="back-to-top" ><img src="/images/top-icon.png" alt="Go to Top"></button>


     
<footer>
    <div class="footer-container" style="display: flex;">
       
        <div class="footer-left" >
            <div class="footer-links" style="display: flex; flex-direction: column;">
                <ul>
                    <li><a href="/views/home.html">Home</a></li>
                    <li><a href="/views/aboutus.html">About Us</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <a href="#"><img src="/images/facebook.png" style="width: 2vw;" alt="facebook"><i class="fab fa-facebook"></i> </a>
                <a href="#"><img src="/images/twitter.png" style="width: 2vw;" alt="twitter" alt=""><i class="fab fa-twitter"></i></a>
                <a href="#"><img src="/images/instagram.png" style="width: 2vw;" alt="instagram"><i class="fab fa-instagram"></i></a>
            </div>
            
        </div>
        
        <div class="footer-right" style="display: flex;">
            <div class="footer-contact">
                <h3>CONTACT US</h3>
                <p>123 Coffee Street, City Name</p>
                <p><strong>Phone:</strong> +1 800 555 6789</p>
                <p><strong>E-mail:</strong> support@cuptainsbrew.com</p>
                <p><strong>Website:</strong> www.cuptainsbrew.com</p>
            </div>
                
        </div>


   </div>

   <div class="footer-bottom">
    <p>© Copyright 2025 Cuptain’s Brew Cafe. All Rights Reserved.</p>
</div>


</footer>




    <script src="/js/auth.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
