<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cuptain's Brew</title>
    <link rel="stylesheet" href="../../css/menu.css">
</head>
<body>

    <!-- Header Section -->
    <header class="header">
        <img src="../../images/LOGO.png" id="logo" alt="Cuptain's Brew Logo">

        <!-- Navigation Menu -->
        <nav class="button-container" id="nav-menu">
            <a href="/views/users/user-home.html" class="nav-button">Home</a>
            <a href="/views/users/user-menu.html" class="nav-button">Menu</a>
            <a href="/views/users/user-career.html" class="nav-button">Career</a>
            <a href="/views/users/user-aboutus.html" class="nav-button">About Us</a>

            <!-- Icons -->
            <div class="icon-container">
                <a href="/views/users/cart.html" id="cart-icon" class="nav-icon">
                    <img src="../../images/cart-icon.png" alt="Cart">
                </a>
                <a href="/views/users/profile.html" id="profile-icon" class="nav-icon">
                    <img src="../../images/profile-icon.png" alt="Profile">
                </a>
            </div>
        </nav>
    </header>

    <!-- Menu Bar -->
    <div class="menu-bar">
        <div class="menu-item" data-page="../../views/menu-items/coffee.html">Coffee</div>
        <div class="menu-item" data-page="../../views/menu-items/Non-Coffee.html">Non-Coffee</div>
        <div class="menu-item" data-page="../../views/menu-items/Frappe.html">Frappe</div>
        <div class="menu-item" data-page="../../views/menu-items/MilkTea.html">Milk Tea</div>
        <div class="menu-item" data-page="../../views/menu-items/Soda.html">Soda</div>

        <div class="search-container">
            <input type="search" id="search" name="query" placeholder="Search...">
            <button type="submit">Search</button>
        </div>


    </div>

    <!-- Products Container -->
    <div class="products-container">
    </div>

    <!-- Scripts -->
    <script src="../../js/auth.js"></script>
    <script src="../../js/script.js"></script>
    <script src="../../js/user-menu.js"></script>
</body>
</html>
