<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cuptain's Brew</title>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <header class="header">
    <img src="../images/LOGO.png" id="logo" alt="cuptainsbrewlogo">

    <!-- "nav-menu" is for mobile
    <button id="menu-toggle" class="menu-toggle"> ☰  </button> -->

    <nav class="button-container" id="nav-menu">

        <a href="/views/users/user-home.html" class="nav-button" > Home</a>
        <a href="/views/users/user-menu.html" class="nav-button"> Menu</a>
        <a href="/views/users/user-career.html" class="nav-button" > Career</a>
        <a href="/views/users/user-aboutus.html" class="nav-button" > About Us</a>



        <a href="../views/cart.html" id="cart-icon" class="nav-icon hidden">
            <img src="../images/cart-icon.png" alt="Cart">
        </a>
        <a href="../views/profile.html" id="profile-icon" class="nav-icon hidden">
            <img src="../images/profile-icon.png" alt="Profile">
        </a>

    </nav>
</header>

    <div class="image-container">
        <img src="../images/getstarted.png" alt="getstarted" id="getstarted">
    </div>
    <div class="centered-home">
        <h1 class="glow">Captain's Brew Cafe</h1>
        <p>Where every sip is an adventure. we've got your brew covered. <br>
            Drop anchor, relax, and let your coffee journey begin! </p>
    
    
    <a href="../views/auth/login.html" class="centered-button">Get Started</a>
    
    
    
    </div>
    
    <div class="menu-image-container">
        <img src="../images/gsmenu.png" alt="gs-menu" id="gsmenu" >
        <div class="centered-menu">
        <h1>MENU</h1>
        <p>Where every sip is an adventure. we've got your brew covered. <br>
            Drop anchor, relax, and let your coffee journey begin! </p>
    </div>
    </div>


    <script src="../../js/auth.js"></script>
    <script src="../../js/script.js"></script>
    <script src="../../js/user-menu.js"></script>

</body>
</html>
