<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/menu.css">
    
</head>
<body>
<div class="item-menu-container">
    <div class="scroll-down-menu">
        <div class="menu-card">
            <img src="../../images/item/coffee/latte 2.png" id="menu-img" alt="Cafe Latte">
            <div class="menu-details">
                <h2>CAFE LATTE</h2>
                <p class="price">P 100</p>
                <p class="description">Indulge in the perfect blend of rich espresso and velvety milk—Cafe Latte, where every sip is a warm embrace.</p>
                </div>
                    <div class="add-button-container"> 
                        <button class="add-button">
                            <img src="/images/add.png" alt="">
                        </button>
                    </div>
                </div>

            <div class="menu-card">
                <img src="/images/item/coffee/americano 1.png" id="menu-img" alt="Americano">
                <div class="menu-details">
                    <h2>AMERICANO</h2>
                    <p class="price">P 69</p>
                    <p class="description">Bold, smooth, and effortlessly classic—Americano, the taste of pure coffee perfection in every sip.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="/images/add.png" alt="">
                            </button>
                        </div>
            </div>

            <div class="menu-card">
                <img src="/images/item/coffee/caramel.png" id="menu-img" alt="Caramel">
                <div class="menu-details">
                    <h2>CARAMEL MACCHIATO</h2>
                    <p class="price">P 120</p>
                    <p class="description">Sweet, bold, and irresistibly smooth—Caramel Macchiato, where rich espresso meets luscious caramel in every sip.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="/images/add.png" alt="">
                            </button>
                        </div>
            </div>

            <div class="menu-card">
                <img src="/images/item/coffee/mocha 1.png" id="menu-img" alt="Mocha">
                <div class="menu-details">
                    <h2>MOCHA</h2>
                    <p class="price">P 100</p>
                    <p class="description">Where rich espresso meets velvety chocolate—Mocha, the perfect harmony of bold and sweet in every sip.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="/images/add.png" alt="">
                            </button>
                        </div>
        </div>
    </div>              
    <div  class="menu-cart-container">
        <div class="menu-cart">
            <div class="cart-title">
                <p>YOUR ITEM</p>
            </div>
            <div class="item">
                <img src="/images/item/coffee/latte 2.png" class="img">
                <p class="name"><b>Caffee Latte</b></p>
                <p class="hot">Hot, Extra Shot</p>
            </div>
            <div class="cart-review">
                <a href="/views/users/puurchase_review.html"> <button>  Review payment and address</button> </a>
            </div>
        </div>
        
    </div>
</div>


<script src="/js/script.js"></script>
<script src="/js/admin-menu.js"></script>
</body>
</html>
