<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/menu.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    
<div class="item-menu-container">

    <div class="scroll-down-menu">


        <div class="menu-card">
            <img src="../../images/item/coffee/latte 2.png" id="menu-img" alt="Cafe Latte">
            <div class="menu-details">
                <h2>CAFE LATTE</h2>
                <p class="price">P 100</p>
                <p class="description">Indulge in the perfect blend of rich espresso and velvety milk—Cafe Latte, where every sip is a warm embrace.</p>
                </div>
                    <div class="add-button-container"> 
                        <button class="add-button">
                            <img src="../../images/add.png" alt="">
                        </button>
                    </div>
                </div>

            <div class="menu-card">
                <img src="../../images/item/coffee/americano 1.png" id="menu-img" alt="Americano">
                <div class="menu-details">
                    <h2>AMERICANO</h2>
                    <p class="price">P 69</p>
                    <p class="description">Bold, smooth, and effortlessly classic—Americano, the taste of pure coffee perfection in every sip.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="../../images/add.png" alt="">
                            </button>
                        </div>
            </div>

            <div class="menu-card">
                <img src="../../images/item/coffee/caramel.png" id="menu-img" alt="Caramel">
                <div class="menu-details">
                    <h2>CARAMEL MACCHIATO</h2>
                    <p class="price">P 120</p>
                    <p class="description">Sweet, bold, and irresistibly smooth—Caramel Macchiato, where rich espresso meets luscious caramel in every sip.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="../../images/add.png" alt="">
                            </button>
                        </div>
            </div>

            <div class="menu-card">
                <img src="../../images/item/coffee/mocha 1.png" id="menu-img" alt="Mocha">
                <div class="menu-details">
                    <h2>MOCHA</h2>
                    <p class="price">P 100</p>
                    <p class="description">Where rich espresso meets velvety chocolate—Mocha, the perfect harmony of bold and sweet in every sip.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="../../images/add.png" alt="">
                            </button>
                        </div>
        </div>
        
    </div> 



                     
    <div  class="menu-cart-container">
        <div class="menu-cart">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
                ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived n
                ot only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like 
                Aldus PageMaker including versions of Lorem Ipsum.</p>

        </div>
        
    </div>
</div>
<script src="../../js/script.js"></script>
<script src="../../js/admin-menu.js"></script>
</body>
</html>
