
<div class="item-menu-container">
    <div class="scroll-down-menu">
        <div class="menu-card">
            <img src="../../images/item/Frappe/strawberry 1.png" id="menu-img" alt="Strawberry">
            <div class="menu-details">
                <h2>Strawberry</h2>
                <p class="price">P 150</p>
                <p class="description">Cool, creamy, and bursting with berry bliss—Strawberry Frappe, the perfect blend of sweet and refreshing.</p>
                </div>
                    <div class="add-button-container"> 
                        <button class="add-button">
                            <img src="../../images/add.png" alt="">
                        </button>
                    </div>
                </div>

            <div class="menu-card">
                <img src="../../images/item/Frappe/matcha 2.png" id="menu-img" alt="Matcha">
                <div class="menu-details">
                    <h2>Matcha</h2>
                    <p class="price">P 150</p>
                    <p class="description">Smooth, creamy, and packed with vibrant green tea goodness—Matcha Frappe, a refreshing sip of zen./p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="../../images/add.png" alt="">
                            </button>
                        </div>
                    </div>
            <div class="menu-card">
                <img src="../../images/item/Frappe/cookies 1.png" id="menu-img" alt="Cookies & Cream">
                <div class="menu-details">
                    <h2>Cookies & Cream</h2>
                    <p class="price">P 150</p>
                    <p class="description">A delightful blend of rich cookies and creamy goodness—Cookies & Cream Frappe, a sip of pure indulgence.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="../../images/add.png" alt="">
                            </button>
                        </div>
                    </div>
            <div class="menu-card">
                <img src="../../images/item/Frappe/vanilla 1.png" id="menu-img" alt="Vanilla">
                <div class="menu-details">
                    <h2>Vanillas</h2>
                    <p class="price">P 150</p>
                    <p class="description">Chilled, creamy, and irresistibly smooth—Vanilla Frappe, a sweet escape in every sip.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="../../images/add.png" alt="">
                            </button>
                        </div>
                    </div>
    </div>
    <div  class="menu-cart-container">
        <div class="menu-cart">
            <div class="cart-title">
                <p>YOUR ITEM</p>
            </div>
            <div class="item">
                <img src="../../images/item/Frappe/strawberry 1.png" class="img">
                <p class="name"><b>Strawberry</b></p>
                <p class="hot">Hot, Extra Shot</p>
            </div>
            <div class="cart-review">
        
                <button>Review payment and address</button>
         
            </div>
        </div>
    </div>
           
</div>