
<div class="item-menu-container">
    <div class="scroll-down-menu">
        <div class="menu-card">
            <img src="../../images/item/strawberry 1.png" id="menu-img" alt="Cafe Latte">
            <div class="menu-details">
                <h2>Strawberry</h2>
                <p class="price">P 150</p>
                <p class="description">Cool, creamy, and bursting with berry bliss—Strawberry Frappe, the perfect blend of sweet and refreshing.</p>
                </div>
                    <div class="add-button-container"> 
                        <button class="add-button">
                            <img src="../../images/add.png" alt="">
                        </button>
                    </div>
                </div>

            <div class="menu-card">
                <img src="../../images/item/strawberry 1.png" id="menu-img" alt="Cafe Latte">
                <div class="menu-details">
                    <h2>Strawberry</h2>
                    <p class="price">P 150</p>
                    <p class="description">Cool, creamy, and bursting with berry bliss—Strawberry Frappe, the perfect blend of sweet and refreshing.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="../../images/add.png" alt="">
                            </button>
                        </div>
                    </div>

       

    </div>
           
</div>