<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/menu.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class="item-menu-container">
    <div class="scroll-down-menu">
        <div class="menu-card">
            <img src="../../images/item/Milktea/winter 1.png" id="menu-img" alt="Wintermelon">
            <div class="menu-details">
                <h2>Wintermelon</h2>
                <p class="price">P 79</p>
                <p class="description">Smooth, creamy, and refreshingly sweet—Wintermelon Milk Tea, a cozy delight in every sip.</p>
                </div>
                    <div class="add-button-container"> 
                        <button class="add-button">
                            <img src="../../images/add.png" alt="">
                        </button>
                    </div>
                </div>

            <div class="menu-card">
                <img src="../../images/item/Milktea/red 1.png" id="menu-img" alt="Red Velvet">
                <div class="menu-details">
                    <h2>Red Velvet</h2>
                    <p class="price">P 89</p>
                    <p class="description">Red Velvet Milk Tea—rich, creamy, and irresistibly smooth, a sip of pure indulgence.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="../../images/add.png" alt="">
                            </button>
                        </div>
                    </div>

            <div class="menu-card">
                <img src="../../images/item/Milktea/choco 1.png" id="menu-img" alt="Chocolate">
                <div class="menu-details">
                    <h2>Chocolate</h2>
                    <p class="price">P 89</p>
                    <p class="description">Chocolatey bliss meets silky milk tea—Choco Milk Tea, a delightful sip of comfort and flavor.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="../../images/add.png" alt="">
                            </button>
                        </div>
                    </div>

            <div class="menu-card">
                <img src="../../images/item/winter 1.png" id="menu-img" alt="Cafe Latte">
                <div class="menu-details">
                    <h2>CAFE LATTE</h2>
                    <p class="price">P 79</p>
                    <p class="description">A dreamy blend of creamy milk tea and crunchy cookie goodness—Cookies & Cream Milk Tea, pure indulgence in every sip.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="../../images/add.png" alt="">
                            </button>
                        </div>
                    </div>
    </div> 
        <div  class="menu-cart-container">
            <div class="menu-cart">
                <div class="cart-title">
                    <p>YOUR ITEM</p>
                </div>
                <div class="item">
                    <img src="../../images/item/Milktea/winter 1.png" class="img">
                    <p class="name"><b>Wintermelon</b></p>
                    <p class="hot">Hot, Extra Shot</p>
                </div>
                <div class="cart-review">
            
                    <button>Review payment and address</button>
             
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../js/script.js"></script>
<script src="../../js/admin-menu.js"></script>
</body>
</html>