

<div class="item-menu-container">

    <div class="scroll-down-menu">
        <div class="menu-card">
            <img src="../../images/item/winter 1.png" id="menu-img" alt="Cafe Latte">
            <div class="menu-details">
                <h2>CAFE LATTE</h2>
                <p class="price">P 79</p>
                <p class="description">Indulge in the perfect blend of rich espresso and velvety milk—Cafe Latte, where every sip is a warm embrace.</p>
            </div>
        </div>

        <div class="menu-card">
            <img src="../../images/item/winter 1.png" id="menu-img" alt="Cafe Latte">
            <div class="menu-details">
                <h2>CAFE LATTE</h2>
                <p class="price">P 79</p>
                <p class="description">Indulge in the perfect blend of rich espresso and velvety milk—Cafe Latte, where every sip is a warm embrace.</p>
            </div>
        </div>

        <div class="menu-card">
            <img src="../../images/item/winter 1.png" id="menu-img" alt="Cafe Latte">
            <div class="menu-details">
                <h2>CAFE LATTE</h2>
                <p class="price">P 79</p>
                <p class="description">Indulge in the perfect blend of rich espresso and velvety milk—Cafe Latte, where every sip is a warm embrace.</p>
            </div>
        </div>

        <div class="menu-card">
            <img src="../../images/item/winter 1.png" id="menu-img" alt="Cafe Latte">
            <div class="menu-details">
                <h2>CAFE LATTE</h2>
                <p class="price">P 79</p>
                <p class="description">Indulge in the perfect blend of rich espresso and velvety milk—Cafe Latte, where every sip is a warm embrace.</p>
            </div>
        </div>

        <div class="menu-card">
            <img src="../../images/item/winter 1.png" id="menu-img" alt="Cafe Latte">
            <div class="menu-details">
                <h2>CAFE LATTE</h2>
                <p class="price">P 79</p>
                <p class="description">Indulge in the perfect blend of rich espresso and velvety milk—Cafe Latte, where every sip is a warm embrace.</p>
            </div>
        </div>

        <div class="menu-card">
            <img src="../../images/item/winter 1.png" id="menu-img" alt="Cafe Latte">
            <div class="menu-details">
                <h2>CAFE LATTE</h2>
                <p class="price">P 79</p>
                <p class="description">Indulge in the perfect blend of rich espresso and velvety milk—Cafe Latte, where every sip is a warm embrace.</p>
            </div>
        </div>
    </div>
        <div class="item-editor">
            <div class="editor-card">
                <h1>Choose Item To Edit</h1>
                <div class="product-container">
                    <div class="menu-item" data-page="../views/menu-items/coffee.html" onchange="">Coffee</div>
                    </div>
                    <button class="add-item">
                     <h1>Add Item</h1></button>
                </div>
            </div>  
        </div>  
    </div>