

<div class="item-menu-container">
    <div class="scroll-down-menu">
        <div class="menu-card">
            <img src="../../images/item/Milktea/winter 1.png" id="menu-img" alt="Wintermelon">
            <div class="menu-details">
                <h2>Wintermelon</h2>
                <p class="price">P 79</p>
                <p class="description">Smooth, creamy, and refreshingly sweet—Wintermelon Milk Tea, a cozy delight in every sip.</p>
                </div>
                    <div class="add-button-container"> 
                        <button class="add-button">
                            <img src="../../images/add.png" alt="">
                        </button>
                    </div>
                </div>

            <div class="menu-card">
                <img src="../../images/item/Milktea/red 1.png" id="menu-img" alt="Red Velvet">
                <div class="menu-details">
                    <h2>Red Velvet</h2>
                    <p class="price">P 89</p>
                    <p class="description">Red Velvet Milk Tea—rich, creamy, and irresistibly smooth, a sip of pure indulgence.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="../../images/add.png" alt="">
                            </button>
                        </div>
                    </div>

            <div class="menu-card">
                <img src="../../images/item/Milktea/choco 1.png" id="menu-img" alt="Chocolate">
                <div class="menu-details">
                    <h2>Chocolate</h2>
                    <p class="price">P 89</p>
                    <p class="description">Chocolatey bliss meets silky milk tea—Choco Milk Tea, a delightful sip of comfort and flavor.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="../../images/add.png" alt="">
                            </button>
                        </div>
                    </div>

            <div class="menu-card">
                <img src="../../images/item/winter 1.png" id="menu-img" alt="Cafe Latte">
                <div class="menu-details">
                    <h2>CAFE LATTE</h2>
                    <p class="price">P 79</p>
                    <p class="description">A dreamy blend of creamy milk tea and crunchy cookie goodness—Cookies & Cream Milk Tea, pure indulgence in every sip.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="../../images/add.png" alt="">
                            </button>
                        </div>
                    </div>
    </div>
       
        </div>  
    </div>