
<div class="item-menu-container">
    <div class="scroll-down-menu">
        <div class="menu-card">
            <img src="../../images/item/berry 1.png" id="menu-img" alt="Cafe Latte">
            <div class="menu-details">
                <h2>Choco Berry</h2>
                <p class="price">P 125</p>
                <p class="description">Decadent chocolate meets luscious berries—Choco Berry, a perfectly balanced sip of rich and fruity delight.</p>
                </div>
                    <div class="add-button-container"> 
                        <button class="add-button">
                            <img src="../../images/add.png" alt="">
                        </button>
                    </div>
                </div>
            
            <div class="menu-card">
                <img src="../../images/item/berry 1.png" id="menu-img" alt="Cafe Latte">
                <div class="menu-details">
                    <h2>Choco Berry</h2>
                    <p class="price">P 125</p>
                    <p class="description">Decadent chocolate meets luscious berries—Choco Berry, a perfectly balanced sip of rich and fruity delight.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="../../images/add.png" alt="">
                            </button>
                        </div>
                    </div>
            
    </div>
        
        </div>    


</div>