
<div class="item-menu-container">
    <div class="scroll-down-menu">
        <div class="menu-card">
            <img src="../../images/item/non-coffee/berry 1.png" id="menu-img" alt="Choco Berry">
            <div class="menu-details">
                <h2>Choco Berry</h2>
                <p class="price">P 125</p>
                <p class="description">Decadent chocolate meets luscious berries—Choco Berry, a perfectly balanced sip of rich and fruity delight.</p>
                </div>
                    <div class="add-button-container"> 
                        <button class="add-button">
                            <img src="../../images/add.png" alt="">
                        </button>
                    </div>
                </div>
            
            <div class="menu-card">
                <img src="../../images/item/non-coffee/matcha 1.png" id="menu-img" alt="Matcha Latte">
                <div class="menu-details">
                    <h2>Matcha Latte</h2>
                    <p class="price">P 125</p>
                    <p class="description">Earthy, creamy, and revitalizing—Matcha Latte, a perfect balance of tradition and indulgence in every sip.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="../../images/add.png" alt="">
                            </button>
                        </div>
                    </div>
                
                <div class="menu-card">
                <img src="../../images/item/non-coffee/white 1.png" id="menu-img" alt="White Choco Matcha">
                <div class="menu-details">
                    <h2>Choco White Choco Matcha</h2>
                    <p class="price">P 135</p>
                    <p class="description">Pure elegance in a cup—White Choco Matcha, where creamy white chocolate meets earthy matcha for a perfectly balanced indulgence.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="../../images/add.png" alt="">
                            </button>
                        </div>
                    </div>

                <div class="menu-card">
                <img src="../../images/item/non-coffee/ube 1.png" id="menu-img" alt="Ube Latte">
                <div class="menu-details">
                    <h2>Ube Latte</h2>
                    <p class="price">P 110</p>
                    <p class="description">Creamy, dreamy, and delightfully purple—Ube Latte, a sweet twist on tradition in every sip.</p>
                    </div>
                        <div class="add-button-container"> 
                            <button class="add-button">
                                <img src="../../images/add.png" alt="">
                            </button>
                        </div>
                    </div>
    </div>
        </div>    
</div>